<div class="{{prefix}}prompt_manager_footer">
    <select id="{{prefix}}prompt_manager_footer_append_prompt" class="text_pole" name="append-prompt">
        {{{promptsHtml}}}
    </select>
    <a class="menu_button fa-chain fa-solid fa-fw" title="Insert prompt" data-i18n="[title]Insert prompt"></a>
    <a class="caution menu_button fa-x fa-solid fa-fw" title="Delete prompt" data-i18n="[title]Delete prompt"></a>
    <span class="pm-toolbar-sep"></span>
    <a class="menu_button fa-solid fa-fw pm-toolbar-btn" id="prompt-manager-import" title="Import a prompt list" data-i18n="[title]Import a prompt list"><i class="fa-file-import fa-solid"></i><span class="pm-btn-label" data-i18n="Import">Import</span></a>
    <a class="menu_button fa-solid fa-fw pm-toolbar-btn" id="prompt-manager-export" title="Export this prompt list" data-i18n="[title]Export this prompt list"><i class="fa-file-export fa-solid"></i><span class="pm-btn-label" data-i18n="Export">Export</span></a>
    <span class="pm-toolbar-sep"></span>
    <a class="menu_button fa-undo fa-solid fa-fw pm-toolbar-btn" id="prompt-manager-reset-character" title="Reset current character" data-i18n="[title]Reset current character"><i class="fa-undo fa-solid"></i><span class="pm-btn-label" data-i18n="Reset">Reset</span></a>
    <a class="menu_button fa-plus-square fa-solid fa-fw pm-toolbar-btn" title="New prompt" data-i18n="[title]New prompt"><i class="fa-plus-square fa-solid"></i><span class="pm-btn-label" data-i18n="New">New</span></a>
</div>
