<div class="welcomePanel">
    <div class="welcomeHeaderTitle">
        <img src="img/logo.png" alt="EmberDesk Logo" data-i18n="[alt]EmberDesk Logo" class="welcomeHeaderLogo">
        <span class="welcomeHeaderVersionDisplay">{{version}}</span>
    </div>
    <div class="welcomeHeader">
        <div class="welcomeShortcuts">
            <a class="menu_button menu_button_icon" target="_blank" href="#">
                <i class="fa-solid fa-question-circle"></i>
                <span data-i18n="Docs">Docs</span>
            </a>
            <a class="menu_button menu_button_icon" target="_blank" href="https://github.com/DabengBa/EmberDesk">
                <i class="fa-brands fa-github"></i>
                <span data-i18n="GitHub">GitHub</span>
            </a>
            <a class="menu_button menu_button_icon" target="_blank" href="#">
                <i class="fa-brands fa-discord"></i>
                <span data-i18n="Discord">Discord</span>
            </a>
            <span class="welcomeShortcutsSeparator">&vert;</span>
            <button class="openTemporaryChat menu_button menu_button_icon">
                <i class="fa-solid fa-comment-dots"></i>
                <span data-i18n="Temporary Chat">Temporary Chat</span>
            </button>
        </div>
    </div>
</div>
